.weather {
  display: flex;
  flex-direction: row;
  width: 100%;

  .country {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 50%;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .col {
      display: flex;
      flex-direction: column;
    }

    p {
      margin: 0;
    }
  }
}
