.weather {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .weather .country {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 50%; }
    .weather .country .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .weather .country .col {
      display: flex;
      flex-direction: column; }
    .weather .country p {
      margin: 0; }
